---
layout: single
permalink: /people/
header:
  image: group/jumping.jpg
---
<h2 style="margin-top: 0;">PI</h2>
<div class="photo-row">
  {% for people in site.data.people.pi %}
    {% include people-single.html %}
  {% endfor %}
</div>
<div style="clear: both;"></div>

<h2>Postdoctoral Researchers</h2>
<div class="photo-row">
  {% for people in site.data.people.postdoc %}
    {% include people-single.html %}
  {% endfor %}
</div>
<div style="clear: both;"></div>

<h2>PhD Students</h2>
<div class="photo-row">
  {% for people in site.data.people.phd %}
    {% include people-single.html %}
  {% endfor %}
</div>
<div style="clear: both;"></div>

<h2>Undergraduate Students</h2>
<div class="photo-row">
  {% for people in site.data.people.undergrad %}
    {% include people-single.html %}
  {% endfor %}
</div>
<div style="clear: both;"></div>