---
layout: single
permalink: /people/
header:
  image: group/collage.png
---
<h2 style="margin-top: 0;">Our Team</h2>
<div class="project-highlights__container">
  {% for people in site.data.people.pi %}
    {% include people-single.html %}
  {% endfor %}
  {% for people in site.data.people.postdoc %}
    {% include people-single.html %}
  {% endfor %}
  {% for people in site.data.people.phd %}
    {% include people-single.html %}
  {% endfor %}
</div>

<h2>Undergraduate Students</h2>
<ul>
  {% for people in site.data.people.undergrad %}
    <li>{{ people.name | markdownify }}</li>
  {% endfor %}
</ul>