/* ==========================================================================
   TILED CONTENT (e.g., publications, projects, people)
   ========================================================================== */

.publication {
  margin-bottom: 2em;

  @include breakpoint($medium) {
    @include span(12 of 12);
  }

  @include breakpoint($large) {
    @include span(10 of 12 last);
    @include prefix(0.5 of 12);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.publication__item {
  font-size: .85em;
}


.publication__item-title {
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: $sans-serif-narrow;

  a {
    color: mix($caltech-orange, #fff, 90%);
  }

  a + a {
    opacity: 0.5;
  }
}

// remove border
.page__content {

  .publication__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.publication__item-text {
  width: 90%;
  float: left; 
  padding-left: 20px; 

  a {
    color: $caltech-orange;
  }
}

.publication__item-teaser {
  box-shadow: 0 0 10px rgba(#000, 0.25);
  border-radius: $border-radius;
  overflow: hidden;
  width: 185px;
  height: 120px;
  float: left;
}

.tiles__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  @media (max-width: $small) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-highlights__item-teaser {
  box-shadow: 0 0 10px rgba(#000, 0.25);
  border-radius: $border-radius;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.project-highlights__item-text {
  height: 100%;
}

.page__content {

  .project-highlights__item-title {
    margin-top: 0.5em;
    padding: 0 0.5em 0 0.5em;
    border-bottom: none;
    text-align: center; 
  }
  h3 {
    color: $dark-gray;
  }
  a {
    color: $dark-gray;
  }
}

.people__item {
  box-shadow: 0 0 10px rgba(#000, 0.25);
  border-radius: $border-radius;
  overflow: hidden;
}

.people__item-text {
  width: 100%; 
  float: center; 
  text-align: center;

  a {
    color: $caltech-orange;
  }
}

.people__item-teaser {
  width: 100%;
  height: auto;

  a {
    color: $caltech-orange;
  }
}

.page__content{
  .people__item-title {
    margin-top: 0.5em;
    border-bottom: none;
  }
}
