.visit-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
}

// #visit-text {
//   // display: table-cell;
//   width: 50%
// }

#map {
  // display: table-cell;
  position: relative;
  min-height: 300px;
  width: 100%;
  margin: auto;
  padding: 2vw;
}
