---
layout: single
tagline: true
header:
  image: group/lab.jpg
---

{% include base_path %}

<link type="text/css" rel="stylesheet" href="assets/css/lightslider.min.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="assets/js/plugins/lightslider.min.js"></script>

<!-- ABOUT -->
<!-- <h2 class="home-header" style="margin-top: 0;">About</h2>
<div id="about">
  <p>
    {% capture about %}{% include about.md %}{% endcapture %}
    {{ about | markdownify }}
  </p>
</div> -->

<!-- HIGHLIGHTED PROJECTS -->
<h2 class="home-header" style="margin-top: -1.8em;">Project Highlights</h2>
<div id="highlights">
  <ul id="light-slider">
    {% for publication in site.data.publications.highlight %}
      <li>{% include project-highlight-single.html %}</li>
    {% endfor %}
  </ul>
</div>

<h2 class="home-header">What is Computational Imaging?</h2>
<div id="computational-imaging" class="videos__container">
  <iframe
  src="https://youtube.com/embed/yUa9kmxLoNQ">
  </iframe>
  <iframe
  src="https://youtube.com/embed/hYikUPi7GAI">
  </iframe>
</div>
  
<!-- NEWS -->
<h2 class="home-header">News</h2>
<div id="news">
  {% for item in site.data.news.main %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('news'); showBlock('allnews'); return false;" class="btn btn--inverse">More</a>
</div>
<div id="allnews" style="display: none;">
  {% for item in site.data.news.all %}
  <p><strong><font class="new">{{ item.date | markdownify | remove: '<p>' | remove: '</p>'}} </font></strong>{{ item.info | markdownify | remove: '<p>' | remove: '</p>'}}</p>
  {% endfor %}
  <a href="#" onclick="hideBlock('allnews'); showBlock('news'); return false;" class="btn btn--inverse">Less</a>
</div>

<h2 class="home-header">Commitment to Diversity, Equity, and Inclusion</h2>
<div id="dei">
  <p>
    {% capture about %}{% include dei.md %}{% endcapture %}
    {{ about | markdownify }}
  </p>
</div>


<div>
  <center><img src="/assets/logo.svg" width="30%" style="margin-top: 20px;"></center>
</div>