{% include base_path %}

{% if people.photo %}
  {% capture photo %}{{ people.photo }}{% endcapture %}
{% endif %}

<div style="clear: both;"> 
  <div class="publication__item-teaser" style="margin-top: 1em; height: 180px;">
    <img itemprop="image" src=
    {% if photo contains "://" %}
        "{{ photo }}"
    {% else %}
        "{{ photo | prepend: "/images/" | prepend: base_path }}"
    {% endif %}
    alt="">
  </div>
  <div class="publication__item-text">
    <h2 class="publication__item-title" style="text-align: center;">
        {{ people.name | markdownify }}
    </h2>
  </div> 
</div>
