{% include base_path %}

{% if people.photo %}
  {% capture photo %}{{ people.photo }}{% endcapture %}
{% endif %}

<div style="clear: both;">
  <div class="people__item">
      <div class="people__item-teaser">
          <a href={{ people.link }} target="_blank">
              <img itemprop="image" src=
              {% if photo contains "://" %}
                  "{{ photo }}"
              {% else %}
                  "{{ photo | prepend: "/images/" | prepend: base_path }}"
              {% endif %}
              alt="">
          </a>
      </div>
  </div>  
  <div class="people__item-text">
      <a href={{ people.link }} target="_blank">
          <h2 class="people__item-title">
          {{ people.name | markdownify }}
          </h2>
      </a>
      <p style="margin-top: -3em;">{{ people.title | markdownify }}</p>
  </div> 
</div>